#home {
  animation: backInUp;
  animation-duration: 1s;
}

.social-icons-header {
  animation: backInUp;
  animation-duration: 3s;
}

#ind-icon {
  animation: heartBeat;
  animation-duration: 5s;
  animation-delay: 4s;
}

.working-at {
  position: absolute;
  background:linear-gradient(0deg, rgba(8, 0, 51, 0.3), rgba(0, 0, 0, 0.746)), url(https://media.giphy.com/media/yAGIvCiwPJn5C/giphy.gif?cid=ecf05e47lgvq9f0qbx1x540zmhvnzvd82jjdjbc8zu1vnkxh&rid=giphy.gif&ct=g);   /* Black color with 50% alpha/opacity */
  width: 30vw;
  padding: 3rem;
  margin-top: -10rem;
  margin-bottom: 10rem;
  
}

.working-at h1{
    color: white

}
.working-at p{
    font-size: 20px;
    color: skyblue;
}

@media only screen and (max-width: 1024px){

    .working-at {
        position: relative;
        width: 100vw;
        margin-top: 0;
        margin-bottom: 0;
        
    }
    .working-at p{
        font-size: 20px;
        
    }
}